<h1>Your recipies</h1>
<ol>
<%= message = ""
  @cookbook.all.each do |recipe|
    message += "<li>#{recipe.name} - #{recipe.rating}/5 - #{recipe.prep_time}</li>"
  end
  message %>
</ol>

<a href="/new">Add a new Recipe</a>
<p></p>
<a href="/scrap">Add a new Recipe from Marmiton</a>

<!-- pe => exec aec affichage
er => exec sans affichage -->
